<%- include("header") %>
    <nav class="lists">
        
    </nav>
    <!-- requires a lists: [string,] -->
    <!-- requires a listTile: string -->
    <!-- requires a listItems: [{listItem, isDone},] -->
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="box" id="heading">
            <h1><%= listTitle %></h1>
        </div>
        <div class="box">
            <!-- here is gonna be a list of todo lists we have created. loop through a lists object -->
                <% for(var i = 0; i < listItems.length; i++) { %>
                    <div class="item">
                        <form action="/deleteItem" method="POST">
                            <button class="deleteBtn" name="itemId" value="<%= listItems[i]._id %>" onchange="this.form.submit()">-</button>
                        </form>
                        <form action="/itemChecked" method="post" name="item_functions">
                            <input type="hidden" name="checkbox" value="<%= listItems[i]._id %>">
                            <input type="checkbox" name="checkbox" value="<%= listItems[i]._id %>" onChange="this.form.submit()" <%= listItems[i].todoDone === true ? "checked" : "" %> >
                        </form>
                        <!--// <%if(listItems[i].todoDone === true){%> checked="true" <%}%> this code is breaking the submit body-->
                            <p><%= listItems[i].todoListItem %> </p>
                        </form>
                    </div>
                <% } %>
        <form class="item" action="/" method="post" name="addItem">
            <input type="text" name="newItem" id="newItemInput" placeholder="New Item" autocomplete="off"></input>
            <button name="list" type="submit" class="submit_btn" value=<%=listTitle%>>+</button>
        </form>
    </div>
    </body>
<%- include("footer") %> 